.about {
  background-color: #000000;
  overflow-x: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 2013px;
  position: relative;
}

.about .navbar {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: space-around;
  gap: 154px;
  padding: 16px 20px;
  position: absolute;
  top: 0;
  left: -2px;
  background-color: #000000;
}

.about .frame {
  display: flex;
  width: 1386px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about .image {
  position: relative;
  width: 181px;
  height: 29px;
  aspect-ratio: 6.13;
  object-fit: cover;
}

.about .frame-wrapper {
  display: flex;
  width: 747px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 52px;
  position: relative;
}

.about .div-wrapper {
  display: flex;
  width: 747px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 184px;
  position: relative;
}

.about .div {
  display: inline-flex;
  align-items: center;
  gap: 61px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper {
  width: fit-content;
  color: #ffffff;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  font-style: var(--text-font-style);
}

.about .group {
  position: relative;
  width: 58px;
  height: 19px;
}

.about .how-it-works {
  position: absolute;
  top: 0;
  right: 2px;
  color: #ffffff;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  white-space: nowrap;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  letter-spacing: var(--text-letter-spacing);
  font-style: var(--text-font-style);
}

.about .text-wrapper-2 {
  width: 128px;
  height: 15px;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.about .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 150px;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 17px 30px;
  position: relative;
  background-color: #d4a017;
  border-radius: 4px;
}

.about .contact-us {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -4.5px;
  margin-bottom: -2.5px;
  margin-left: -11.5px;
  margin-right: -11.5px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-2 {
  display: flex;
  flex-direction: column;
  width: 721px;
  align-items: center;
  gap: 33px;
  position: absolute;
  top: 172px;
  left: 359px;
}

.about .frame-3 {
  display: flex;
  flex-direction: column;
  height: 109px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.about .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  height: 32px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #fbfbfb;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.6px;
  line-height: normal;
}

.about .the-gallery {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .span {
  color: #ffffff;
}

.about .text-wrapper-4 {
  color: #d4a017;
}

.about .p {
  position: relative;
  width: 560px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #fbfbfb;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-4 {
  display: flex;
  width: 1443px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  padding: 0px 16px 20px 0px;
  position: absolute;
  top: 501px;
  left: 0;
}

.about .map {
  position: relative;
  width: 24px;
  height: 24px;
}

.about .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #fbfbfb;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: normal;
  white-space: nowrap;
}

.about .frame-5 {
  display: flex;
  flex-direction: column;
  width: 1443px;
  height: 72px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  padding: 26px 0px 27px;
  position: absolute;
  top: 970px;
  left: -2px;
  background-color: #ffffff;
}

.about .group-wrapper {
  position: relative;
  width: 1440px;
  height: 19px;
  overflow: hidden;
}

.about .group-2 {
  position: absolute;
  top: calc(50.00% - 10px);
  right: -1472px;
  width: 2879px;
  height: 19px;
}

.about .frame-6 {
  display: flex;
  width: 1381px;
  align-items: center;
  gap: 121px;
  position: absolute;
  top: calc(50.00% - 10px);
  right: 1498px;
}

.about .frame-7 {
  display: flex;
  align-items: center;
  gap: 121px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.about .manifesto {
  flex: 1;
  color: #000000;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .how-it-works-2 {
  position: relative;
  width: 190px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about .company {
  position: relative;
  width: 152px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 121px;
  position: absolute;
  top: 0;
  left: 1498px;
}

.about .manifesto-2 {
  width: 176px;
  color: #000000;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-9 {
  display: flex;
  flex-direction: column;
  width: 1443px;
  height: 839px;
  align-items: center;
  padding: 50px 0px 75px;
  position: absolute;
  top: 980px;
  left: -10px;
}

.about .frame-10 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 55px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d4a017;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-11 {
  display: flex;
  width: 1292px;
  align-items: center;
  justify-content: center;
  gap: 144px;
  padding: 16px 0px;
  position: relative;
  flex: 0 0 auto;
}

.about .container {
  display: flex;
  flex-direction: column;
  max-width: 672px;
  width: 672px;
  align-items: flex-start;
  padding: 32px;
  position: relative;
  background-color: #1a1a1a;
  border-radius: 14px;
}

.about .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .request-your-free {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.about .form-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .container-2 {
  display: grid;
  grid-template-columns: 295.2px 295.2px;
  grid-template-rows: 45.6px;
  height: fit-content;
  gap: 16px;
}

.about .div-wrapper-2 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
  width: 295.2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 16px;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  border: 0.8px solid;
  border-color: #2a2a2a;
}

.about .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6a7282;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.about .div-wrapper-3 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: start;
  width: 295.2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 16px;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  border: 0.8px solid;
  border-color: #2a2a2a;
}

.about .container-margin {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .text-input-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 61.6px;
}

.about .text-input {
  width: 606px;
  height: 46px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  top: 1px;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  border: 0.8px solid;
  border-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about .container-wrapper {
  padding: 0px 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .container-3 {
  display: grid;
  grid-template-columns: 295.2px 295.2px;
  grid-template-rows: 48px;
  height: fit-content;
  gap: 16px;
}

.about .text-input-2 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
  align-self: start;
  width: 295.2px;
  height: 45.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 16px;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  border: 0.8px solid;
  border-color: #2a2a2a;
}

.about .container-4 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: start;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about .container-5 {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #111111;
  border-radius: 10px;
  border: 0.8px solid;
  border-color: #2a2a2a;
}

.about .icon {
  position: relative;
  width: 16px;
  height: 16px;
}

.about .vector {
  position: absolute;
  width: 91.67%;
  height: 41.67%;
  top: 58.33%;
  left: 8.33%;
}

.about .img {
  position: absolute;
  width: 75.00%;
  height: 91.67%;
  top: 8.33%;
  left: 25.00%;
}

.about .vector-2 {
  position: absolute;
  width: 54.17%;
  height: 91.67%;
  top: 8.33%;
  left: 45.83%;
}

.about .text {
  width: 101px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #99a1af;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.about .container-6 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 191.2px;
}

.about .text-area {
  width: 606px;
  height: 106px;
  padding: 12px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  border-radius: 10px;
  overflow: hidden;
  border: 0.8px solid;
  border-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6a7282;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.about .button-2 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 127px;
  left: 0;
  width: 606px;
  height: 48px;
  display: flex;
  background-color: #f0a500;
  border-radius: 10px;
}

.about .text-wrapper-11 {
  margin-top: 9.8px;
  width: 58px;
  height: 24px;
  margin-left: 274px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 24px;
  white-space: nowrap;
}

.about .paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .we-ll-never-share {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #555555;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.about .frame-12 {
  display: flex;
  flex-direction: column;
  width: 476px;
  align-items: center;
  gap: 44px;
  position: relative;
}

.about .frame-13 {
  display: flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  padding: 56px 16px 64px 13px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #161616;
  border-radius: 20px;
}

.about .text-wrapper-12 {
  position: relative;
  width: 258px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-13 {
  width: 447px;
  height: 83px;
  margin-bottom: -27px;
  font-weight: 300;
  color: #d4a017;
  font-size: 64px;
  text-align: center;
  line-height: normal;
  position: relative;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.about .text-wrapper-14 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 45px;
  opacity: 0.44;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-14 {
  display: inline-flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  gap: 6px;
  padding: 58px 16px 54px 13px;
  position: relative;
  background-color: #161616;
  border-radius: 20px;
}

.about .text-wrapper-15 {
  position: relative;
  width: 447px;
  height: 83px;
  margin-bottom: -25px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d4a017;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-15 {
  display: flex;
  flex-direction: column;
  width: 1443px;
  height: 184px;
  align-items: flex-start;
  gap: 21px;
  position: absolute;
  top: 1819px;
  left: -10px;
}

.about .frame-16 {
  display: flex;
  flex-direction: column;
  height: 183.65px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  padding: 50px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.about .frame-17 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 111.65px;
  align-items: center;
  justify-content: space-around;
  gap: 11px;
  padding: 0px 50px;
  position: relative;
  margin-top: -14px;
  margin-bottom: -14px;
}

.about .frame-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .image-2 {
  position: relative;
  width: 96px;
  height: 15.65px;
  aspect-ratio: 6.13;
  object-fit: cover;
}

.about .frame-20 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.about .the-golden-standard {
  position: relative;
  width: 214px;
  height: 48px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}

.about .frame-21 {
  display: flex;
  flex-direction: column;
  width: 371px;
  height: 48px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.about .text-wrapper-16 {
  align-self: stretch;
  height: 18px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}

.about .frame-22 {
  display: inline-flex;
  align-items: center;
  gap: 21px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper-17 {
  width: 79px;
  margin-top: -1px;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  line-height: 24px;
  position: relative;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.about .text-wrapper-18 {
  position: relative;
  width: 67px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}

.about .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.about .frame-24 {
  display: flex;
  width: 393px;
  align-items: center;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper-19 {
  position: relative;
  width: 42px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}

.about .text-wrapper-20 {
  width: 38px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 24px;
}

.about .line {
  position: relative;
  width: 1340px;
  height: 1px;
}

.about .text-wrapper-21 {
  position: relative;
  width: 371px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-25 {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about .text-wrapper-22 {
  position: relative;
  display: flex;
  align-items: center;
  width: 94px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.about .ellipse {
  position: relative;
  width: 2px;
  height: 2px;
  background-color: #555555;
  border-radius: 1px;
}

.about .text-wrapper-23 {
  position: relative;
  display: flex;
  align-items: center;
  width: 79px;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #cdcdce85;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
